# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
ENV/
venv/

# Environment variables
.env
.env.*

# VSCode settings
.vscode/

# Logs and databases
*.log
postgres_data/
*.sqlite3
db.sqlite3
